body {
  margin:   0;
  padding:  0;
}

/* header */
.header {
  height:            70px;
  background-color:  #24292F;
}
.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}
.header-right a {
  color: #fff;
  text-decoration: underline;
}

/* layout */
.container {
  padding: 16px 16px;
}
.h-100vh {
  min-height: 100vh;
}
.w-800 {
  max-width: 800px;
  margin: auto;
}

/* margin */
.margin-bottom {
  margin-bottom: 20px;
}
.margin-right {
  margin-right: 10px;
}

/* text */
.text-right {
  text-align: right;
}

/* backgroud color */
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #d4d4d4;
}

/* font */
.font-small {
  font-size: .8em;
}

/* card */
.card {
  padding: 16px;
  border-radius: 16px;
}
.card__title {
  font-size: 1.2em;
  font-weight: bold;
}

/* form */
.form-width {
  width: 100%;
  max-width: 400px;
}

/* category */
.category {
  color: white;
  font-size: .8em;
  padding: 6px;
  border-radius: 16px;
}

/* a */
a.a-hover-none {
  color: currentColor
}
button {
  a {
    color: #fff;
    text-decoration: none;
  }
}

/* text */
.success-message {
  border: 2px solid #1e87f0;
  color: #1e87f0;
  font-weight: bold;
  padding: 6px 12px;
}
.error-message {
  border: 2px solid red;
  color: red;
  font-weight: bold;
  padding: 6px 12px;
}

/* li */
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
